---
import SecctionRoot from './SectionRoot.astro';
---

<SecctionRoot heading="Career">
  <p class="mb-10">2018年: 都内の私立大学を1年遅れで卒業。（留年）</p>
  <p class="mb-10">
    2018年 〜 2019年:
    ウェブ制作会社で簡単なHTML・CSSコーディングをしていました。コーディング以外にも記事案の執筆も行っていました。
  </p>
  <p class="mb-10">
    2020年 〜 2021年:
    ウェブエンジニア1年目はWordPressを使ったサイト構築を主に行っていました。WordPressを用いたサイト制作と並行して、Laravelを使った社内ツールの開発や、GatsbyJSを使ったサイトのフロントエンド・バックエンドの改修も行いました。
  </p>
  <p>
    2022年 〜:
    自社SaaSアプリを開発する企業に転職して、アプリケーションのフロントエンド開発を行っています。主にTypeScript、React、NextJSを使用しています。
  </p>
</SecctionRoot>
