---
import SecctionRoot from './SectionRoot.astro';
---

<SecctionRoot heading="Contact">
  <p>
    仕事の依頼は
    <a href="mailto:powdersugar828828@gmail.com">powdersugar828828@gmail.com</a>
    かTwitterのDMまでお願いします。
  </p>
</SecctionRoot>
