---
import Layout from '../components/Layout.astro';

import Profile from '../components/sections/Profile.astro';
import Career from '../components/sections/Career.astro';
import Skills from '../components/sections/Skills.astro';
import Others from '../components/sections/Others.astro';
import Contact from '../components/sections/Contact.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Karukichi Soejima Portfolio</title>
  </head>
  <body>
    <Layout>
      <Profile />
      <Career />
      <Skills />
      <Others />
      <Contact />
    </Layout>
  </body>
</html>
