---
import Layout from '../components/Layout.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <h2 id="#profile" class="text-2xl">Profile</h2>
      <h2 id="#career" class="text-2xl">Career</h2>
      <h2 id="#skills" class="text-2xl">Skills</h2>
      <h2 id="#contact" class="text-2xl">Contact</h2>
    </Layout>
  </body>
</html>
