---
const links = [
  { href: '#profile', name: 'Profile' },
  { href: '#career', name: 'Career' },
  { href: '#skills', name: 'Skills' },
  { href: '#contact', name: 'Contact' },
];
---

<header class="mb-10">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold">My Portfolio</h1>
    <ul class="flex">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
